form.stylin_form1 {
	width:14em;
	margin:20px auto;
	border:1px solid #bbb7ae;
	padding:.5em .5em .15em;
	}
.stylin_form1 h1 {
	margin:0;
	padding:0 0 .2em .2em;
	font-weight:600;
	color:#bbb7ae;
	}
.stylin_form1 fieldset {
	margin:0;
	padding:0 0 .2em 0;
	width:100%;
	border:0;
	}
.stylin_form1 legend {
	width:100%;
	padding:.3em 0;
	background:#bbb7ae;
	}
.stylin_form1 legend span {
	display:block;
	font-size:1em;
	line-height:1.1em;
	padding: 0 0 0 .4em;
	font-weight:700;
	color:#fff;
	}
.stylin_form1 section {
	overflow:hidden;
	padding:.2em 0 .4em 0; 
	border-bottom:8px solid #e7e5df
	}
.stylin_form1 section:last-child {
	border-bottom:0px;
	}
.stylin_form1 section label,
.stylin_form1 section h4 {
	display:block;
	clear:both;
	margin:.3em .3em 0 0;
	padding-bottom:.1em;
	font-size:.8em;
	font-family:'Droid Sans';
	font-weight:400; 
	line-height:1.1;
	}
.stylin_form1 section label span,
.stylin_form1 section h4 span {
	font-size:.75em;
	vertical-align:text-top;
	color:#f00;
	}	
.stylin_form1 section p.note {
	font-size:.7em;
	color:#f00;
	margin:0;
	padding:0 0 .3em 0;
	}	
.stylin_form1 section input, 
.stylin_form1 section textarea, 
.stylin_form1 section select {
	margin:.2em .5em .2em 0;
	padding:.2em .4em;
	color:#000;
	box-shadow:1px 1px 3px #ccc;
	font-size:.8em;
	font-family:inherit;
	outline:none;
	}
.stylin_form1 section input,
.stylin_form1 section textarea {
	width:12em;
	border:1px solid #bbb7ae;
	border-radius:3px;
	}
.stylin_form1 section textarea {
	height:5em;
	margin-top:.3em;
	line-height:1.1;
	}
.stylin_form1 section p {
	margin:.3em .75em 0;
	clear:both;
	font-size:.7em;
	line-height:1.1;
	color:#000;
	}
.stylin_form1 section p.error {
	color:#f00;
	}
.stylin_form1 section input[type="submit"] {
	width:auto; 
	margin:.4em .3em 0 0;
	font-size:1em;
	font-weight:800;
	color:#fff;
	background-color:#bbb7ae;
	cursor:pointer;
	}
.stylin_form1 > section:last-child {
	text-align:center;
	}